-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host:  st    Database: mind_lite
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `daily_checkins`
--

DROP TABLE IF EXISTS `daily_checkins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `daily_checkins` (
  `SNo` int NOT NULL AUTO_INCREMENT,
  `patient_id` int NOT NULL,
  `date` date NOT NULL,
  `q1` int NOT NULL,
  `q2` int NOT NULL,
  `q3` int NOT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`SNo`),
  UNIQUE KEY `uq_patient_date` (`patient_id`,`date`),
  KEY `ix_daily_checkins_SNo` (`SNo`),
  CONSTRAINT `daily_checkins_ibfk_1` FOREIGN KEY (`patient_id`) REFERENCES `users` (`SNo`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `daily_checkins`
--

LOCK TABLES `daily_checkins` WRITE;
/*!40000 ALTER TABLE `daily_checkins` DISABLE KEYS */;
INSERT INTO `daily_checkins` VALUES (1,2,'2026-04-25',0,1,1,'2026-04-24 22:10:17');
/*!40000 ALTER TABLE `daily_checkins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `decline_alerts`
--

DROP TABLE IF EXISTS `decline_alerts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `decline_alerts` (
  `SNo` int NOT NULL AUTO_INCREMENT,
  `alert_id` varchar(100) DEFAULT NULL,
  `id` int DEFAULT NULL,
  `type` varchar(50) DEFAULT NULL,
  `message` varchar(500) DEFAULT NULL,
  `drop_amount` float DEFAULT NULL,
  `current_score` float DEFAULT NULL,
  `timestamp` varchar(100) DEFAULT NULL,
  `dismissed` int DEFAULT NULL,
  PRIMARY KEY (`SNo`),
  KEY `id` (`id`),
  KEY `ix_decline_alerts_SNo` (`SNo`),
  CONSTRAINT `decline_alerts_ibfk_1` FOREIGN KEY (`id`) REFERENCES `users` (`SNo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `decline_alerts`
--

LOCK TABLES `decline_alerts` WRITE;
/*!40000 ALTER TABLE `decline_alerts` DISABLE KEYS */;
/*!40000 ALTER TABLE `decline_alerts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `doctor_patients`
--

DROP TABLE IF EXISTS `doctor_patients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `doctor_patients` (
  `SNo` int NOT NULL AUTO_INCREMENT,
  `doctor_id` int DEFAULT NULL,
  `patient_id` int DEFAULT NULL,
  PRIMARY KEY (`SNo`),
  UNIQUE KEY `uq_doctor_patient` (`doctor_id`,`patient_id`),
  KEY `patient_id` (`patient_id`),
  KEY `ix_doctor_patients_SNo` (`SNo`),
  CONSTRAINT `doctor_patients_ibfk_1` FOREIGN KEY (`doctor_id`) REFERENCES `users` (`SNo`),
  CONSTRAINT `doctor_patients_ibfk_2` FOREIGN KEY (`patient_id`) REFERENCES `users` (`SNo`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doctor_patients`
--

LOCK TABLES `doctor_patients` WRITE;
/*!40000 ALTER TABLE `doctor_patients` DISABLE KEYS */;
INSERT INTO `doctor_patients` VALUES (2,3,4);
/*!40000 ALTER TABLE `doctor_patients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `family_members`
--

DROP TABLE IF EXISTS `family_members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `family_members` (
  `SNo` int NOT NULL AUTO_INCREMENT,
  `id` int DEFAULT NULL,
  `name` varchar(100) DEFAULT NULL,
  `relation` varchar(100) DEFAULT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`SNo`),
  KEY `id` (`id`),
  KEY `ix_family_members_SNo` (`SNo`),
  CONSTRAINT `family_members_ibfk_1` FOREIGN KEY (`id`) REFERENCES `users` (`SNo`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `family_members`
--

LOCK TABLES `family_members` WRITE;
/*!40000 ALTER TABLE `family_members` DISABLE KEYS */;
INSERT INTO `family_members` VALUES (1,2,'Bunny','Friend','uploads/f52797e0-969a-44f6-a3a4-d148c7d5ba99_IMG20260425021920.jpg'),(2,2,'Yash','Grandfather','uploads/8d60feac-d079-40b5-9830-2e349921ee0b_IMG20260425021913.jpg'),(4,2,'Riddhi','Sister','uploads/229569e2-a6c6-4c65-a698-802796981a2c_IMG20260425021927.jpg'),(5,2,'Sanchi','Daughter','uploads/1b15951a-8a1b-4582-8d5e-c32a155fbde3_IMG20260425021931.jpg');
/*!40000 ALTER TABLE `family_members` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ml_predictions`
--

DROP TABLE IF EXISTS `ml_predictions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ml_predictions` (
  `SNo` int NOT NULL AUTO_INCREMENT,
  `id` int DEFAULT NULL,
  `cognitive_score` float DEFAULT NULL,
  `risk` varchar(50) DEFAULT NULL,
  `timestamp` varchar(100) DEFAULT NULL,
  `inputs_json` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`SNo`),
  KEY `id` (`id`),
  KEY `ix_ml_predictions_SNo` (`SNo`),
  CONSTRAINT `ml_predictions_ibfk_1` FOREIGN KEY (`id`) REFERENCES `users` (`SNo`)
) ENGINE=InnoDB AUTO_INCREMENT=1009 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ml_predictions`
--

LOCK TABLES `ml_predictions` WRITE;
/*!40000 ALTER TABLE `ml_predictions` DISABLE KEYS */;
/*!40000 ALTER TABLE `ml_predictions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patient_caregivers`
--

DROP TABLE IF EXISTS `patient_caregivers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `patient_caregivers` (
  `SNo` int NOT NULL AUTO_INCREMENT,
  `patient_id` int DEFAULT NULL,
  `name` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`SNo`),
  KEY `patient_id` (`patient_id`),
  KEY `ix_patient_caregivers_SNo` (`SNo`),
  CONSTRAINT `patient_caregivers_ibfk_1` FOREIGN KEY (`patient_id`) REFERENCES `users` (`SNo`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patient_caregivers`
--

LOCK TABLES `patient_caregivers` WRITE;
/*!40000 ALTER TABLE `patient_caregivers` DISABLE KEYS */;
INSERT INTO `patient_caregivers` VALUES (1,4,'C1','riddhikhurana04@gmail.com'),(2,2,'Sanchi','sanchi.goel6346@gmail.com');
/*!40000 ALTER TABLE `patient_caregivers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `scores`
--

DROP TABLE IF EXISTS `scores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `scores` (
  `SNo` int NOT NULL AUTO_INCREMENT,
  `id` int NOT NULL,
  `game` varchar(50) DEFAULT NULL,
  `score` float DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`SNo`),
  KEY `id` (`id`),
  CONSTRAINT `scores_ibfk_1` FOREIGN KEY (`id`) REFERENCES `users` (`SNo`)
) ENGINE=InnoDB AUTO_INCREMENT=2185 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scores`
--

LOCK TABLES `scores` WRITE;
/*!40000 ALTER TABLE `scores` DISABLE KEYS */;
/*!40000 ALTER TABLE `scores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `SNo` int NOT NULL AUTO_INCREMENT,
  `email` varchar(100) DEFAULT NULL,
  `password` varchar(200) DEFAULT NULL,
  `role` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`SNo`),
  UNIQUE KEY `email` (`email`),
  KEY `ix_users_SNo` (`SNo`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'test@example.com','password','patient'),(2,'riddhikhurana04@gmail.com','$2b$12$/MsGJOi0Habw3fo5c0k/ku6RrlkyH5XVPZCXimil.wwycov62pReO','patient'),(3,'d@gmail.com','$2b$12$uIch0NEx3ZKheoNbyEFmteWDKIHX5tV4q2IncCEKiGUJZN.WFm1ua','caregiver'),(4,'p@gmail.com','$2b$12$DjtzpF1Yh3Ca.gNApp5rv.D/RbykDh5TB5LY8dC8kbu1MsGY0eKfO','patient');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-17 20:36:19
